:root {
  --color-primary: #fff;
  --color-invert: #000;
  --color-accept: #FF001B;
  --color-text-deck: #FF6B08;
  --background-action-WATCHING: #FF6B01;
  --background-action-QUEUE: #FF6B02;
  --color-name-data: #8C8C8C;
  --color-text-footer: #545454;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

// $font-primary: "Roboto";