.btn-multiple {
  display: block;
  border-radius: 5px;
  text-align: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 250ms linear, border 250ms linear;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid #FF6B01;
    background-color: #FF6B01;
  }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {
  .btn-watched:not(:last-of-type) {
    margin-right: 16px;
  }
}