.title {
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.card-text {
  width: 280px;
}

.text,
.text-d {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  align-items: start
}

.card {
  justify-self: center;
}

.img {
  // width: 280px;
  // height: 398px;
  max-width: 100%;
  border-radius: 5px;
}


@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
    grid-column-gap: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .card {
    justify-self: stretch;
  }

  .img {
    // width: 336px;
    // height: 455px;
    max-width: 100%;
  }

  .card-text {
    width: 336px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
  }

  .img {
    // width: 394px;
    // height: 574px;
    max-width: 100%;
  }

  .card-text {
    width: 100%;
  }

  .title {
    margin-top: 12px;
    font-size: 20px;
    line-height: 24px;

  }

  .text,
  .text-d {
    font-size: 20px;
    line-height: 24px;
  }
}